body{
    background-color:rgb(151, 234, 255)
  }
  hr{
      background-color:none;
      border-style: none;
      border-top-style: dotted;
      border-color: rgb(0, 2, 133);
      border-width: 5px;
      height: 0px;
      width: 5%;
  }

  img{
      height: 130px;
      
  }
  h1{
      color:RED;
      font-style: italic;
  }
  h3{
 color: red;
  }
